* {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 300;
}
:root {
	--color-1: #241f0f;
	--color-2: #927420;
	--color-3: #c7c2bb;
	--color-4: #b8c0c8;
	--color-5: #6e7478;
	--color-6: #fbf8f1;
	--color-7: #1b1a17;
}

body {
	background-color: var(--color-3);
}

main {
	height: 90vh;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	width: 30rem;
	background-color: var(--color-6);
	margin: 0 auto;
	height: 60%;

	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.app-title {
	border-radius: 10px 10px 0 0;
}

.app-title p {
	text-align: center;
	padding: 15px;
	margin: 0 auto;
	font-size: 3.5em;
	color: #293251;
}

.notification {
	background-color: #f8d7da;
	display: none;
}

.notification p {
	color: #721c24;
	font-size: 1.2em;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

.weather-icon {
	height: 128px;
}

.weather-icon img {
	display: block;
	margin: 0 auto;
}

.temperature-value {
	height: 60px;
}

.temperature-value p {
	padding: 0;
	margin: 0;
	color: #293251;
	font-size: 4em;
	text-align: center;
	cursor: pointer;
}

.temperature-value p:hover {
}

.temperature-value span {
	color: #293251;
	font-size: 0.5em;
}

.temperature-description {
}

.temperature-description p {
	padding: 8px;
	margin: 0;
	color: #293251;
	text-align: center;
	font-size: 1.2em;
}

.location {
}

.location p {
	margin: 0;
	padding: 0;
	color: #293251;
	text-align: center;
	font-size: 2em;
}

.fact {
	padding-top: 3em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	background-color: var(--color-1);
	color: white;
	height: 5vh;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

header {
	height: 5vh;
	background-color: var(--color-7);
	color: white;
}

#newFact {
	background-color: var(--color-3);
	font-size: 20px;
	width: 15em;
}

.social-media > a {
	max-height: 5vh;
	padding-right: 0.3em;
}
